<h2>Add Income</h2>
<hr>
<form [formGroup]="incomeForm" (ngSubmit)="onFormSubmit()">
  <div class="row">
    <div class="col-xs-4">
      <label>Date</label>
      <input type="date" formControlName="date" class="form-control">
    </div>
    <div class="col-xs-4">
      <label>Amount</label>
      <div class="input-group">
          <span class="input-group-addon">$</span>
          <input currencyMask type="number" formControlName="amount" class="form-control" placeholder="ex. 5000">
      </div>
    </div>
    <div class="col-xs-4">
      <label>Check #</label>
      <input type="text" formControlName="check" class="form-control" placeholder="ex. 12345">
    </div>
  </div>
  <hr>
  <div class="">
    <label>Description</label>
    <textarea formControlName="description" class="form-control"></textarea>
  </div>
  <hr>
  <button class="btn btn-primary">Submit</button>
</form>
<hr>
