<div class="jumbotron text-center">
  <div class="row">
    <div class="col-xs-8">
        <div class="row">
          <div class="col-xs-4">
            <h5>Companies</h5>
            <h2>{{ companies.length}}</h2>
          </div>
          <div class="col-xs-4">
              <h5>Projects</h5>
              <h2>{{ projects.length}}</h2>
          </div>
          <div class="col-xs-4">
              <h5>Employees</h5>
              <h2>{{ employees.length}}</h2>
          </div>
        </div>
    </div>
    <div class="col-xs-4">
      <h4>Total Balance: {{ balance | currency}}</h4>
      <h4>Outstanding Balance: {{totContractAmt | currency}}</h4>
    </div>
  </div>
  <div class="overlay"></div>
</div>
<div class="row">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <div class="col-xs-4"></div>
</div>
