<div class='page-header'>
  <div class='btn-toolbar pull-right'>
      <div class='btn-group'>
        <a class="btn btn-primary" routerLink="/add">Add Company</a>
      </div>
  </div>
  <h2>Companies To Show</h2>
  <hr>
</div>


  <div class="row grid">
    <div *ngFor="let c of companies">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 card grid-item" *ngIf="c.isActive">
        <div class="card-container">
            <a routerLink="companies/{{c._id}}" class="card-heading-link">
              <div class="card-heading">
                <span class="card-heading-main">{{c.name}}</span>
                <span class="card-heading-sub">{{c.address}}</span>
              </div>
            </a>
            <div class="card-body">
              <!-- Projects Should go here instead, with relevant information -->
              <span class="card-body-item" *ngIf="c.contact"><i class="far fa-address-book"></i> {{c.contact}}</span>
              <span class="card-body-item" *ngIf="c.phone"><i class="fas fa-phone"></i> {{c.phone}}</span>
              <span class="card-body-item" *ngIf="c.email"><i class="far fa-envelope"></i> {{c.email}}</span>
              <span class="card-body-item" *ngIf="c.website"><i class="fas fa-external-link-alt"></i> <a href="http://{{c.website}}" target="_blank">{{c.website}}</a></span>
              <span class="card-body-item"><i class="far fa-envelope"></i># of Projects: {{c.projects.length}}</span>
            </div>
            <div class="card-footer">
              <a class="btn btn-default btn-sm" routerLink="companies/{{c._id}}">View Company</a>
            </div>
          </div>
        </div>
    </div>
</div>
