<h2 class="page-header">Add Employee</h2>
<div class="well">
  <form (ngSubmit)="onFormSubmit()" [formGroup]="employeeForm">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" class="form-control input-sm" formControlName="name" name="name">
          <div style="color: orangered" role="alert" *ngIf="employeeForm.controls.name.pristine && employeeForm.controls.name.touched">
              Please fill out a name
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">Phone #</label>
          <input type="text" class="form-control input-sm" formControlName="phone" name="phone">
        </div>
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" [disabled]="!employeeForm.valid">
  </form>
</div>
