<div class="row">
  <div class="col-xs-12 col-sm-8">
    <h4 class="margin-0">Income <span class="label label-success label-sm">{{totalIncome | currency}}</span></h4>
  </div>
  <div class="col-xs-12 col-sm-4 text-right">
    <a class="btn btn-xs btn-primary" routerLink="add-income">Add Income</a>
  </div>
</div>

<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Check #</th>
      <th>Amount</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let income of project.income">
      <td>{{income.date | date}}</td>
      <td>{{income.check}}</td>
      <td>{{income.amount | currency}}</td>
      <td>{{income.description}}</td>
    </tr>
  </tbody>
</table>
