<div class="card">
  <div class="card-header">
      <div class="row">
        <div class="col-sm-9">
            <h3>{{project.location}}</h3>
        </div>
        <div class="col-sm-3 text-right">
          <a class="btn btn-primary" routerLink="edit">Edit Project</a>
        </div>
      </div>
  </div>
  <div class="card-body">
      <p>Contract Amount: {{project.contract | currency}}</p>
      <p>Balance: {{project.totalBalance | currency}}</p>
  </div>
</div>
<app-timesheets [project]="project"></app-timesheets>
<div class="row">
  <app-income [project]="project" class="col-xs-12 col-sm-7"></app-income>
  <app-expenses [project]="project" class="col-xs-12 col-sm-5"></app-expenses>
</div>
