/* You can add global styles to this file, and also import other style files */

body {
  background: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 5px 0;
}

hr {
  margin: 5px 0;
}

.page-header {
  margin-top: 21px;
}

.big-divide {
  margin: 21px 0;
}

.margin-0 {
  margin: 0;
}

.flex-table {
  display: flex;
  position: relative;
}

.flex-table.reverse {
  flex-direction: row-reverse;
}

.flex-column {
  /* flex: auto; */
  display: flex;
  align-items: center;
  width: 5%;
  border: 0.5px solid #ddd;
  font-size: .85em;
}

.flex-column.large {
  /* flex: 1 0 auto; */
  width: 10%;
}

.flex-column.total {
  width: 90%;
  background: #ecf0f1;
  justify-content: flex-end;
  padding-right: 20px;
  font-weight: bold;
  font-size: 1.1em;
}

.flex-column.header {
  padding: 0 5px;
}

.table-input {
  border: 0;
  text-align: center;
  padding: 2px;
  height: 35px;
  border-radius: 0;
}

.card {
  background: #ffffff;
  box-shadow: 0 2px 10px #e6e6e6;
  border-radius: 5px;
  margin-bottom: 15px;
}

/* .card table {
  margin-left: -10px;
  margin-right: -10px;
} */

/* .card {
  padding-bottom: 15px;
} */

/* .card-container {
  background: #fff;
  box-shadow: 0 0 10px #ddd;
  border: 1px solid #ddd;
} */

/* .card-heading {
  background: #ddd;
  color: #333;
  padding: 10px;
} */

/* .card-heading:hover {
  background: #ccc;
} */

.card-heading-main {
  font-size: 1.75em;
  font-weight: 600;
}

.card-heading-sub {
  font-size: 1em;
  color: #666;
}

.card-body, .card-header, .card-footer {
  padding: 10px;
}

.card-body-item {
  border-bottom: 1px solid #ddd;
  padding: 7px 0;
  font-style: italic;
  font-weight: 600;
}

.card-body-item svg {
  margin-right: 5px;
}

.card-body-item:last-of-type {
  border: 0;
}

.card-footer {
  background: #ecf0f1;
}
.card span {
  display: block;
  margin: 5px 0;
}

.card-heading a:hover {
  text-decoration: none;
}

a.card-heading-link {
  text-decoration: none;
}

.card-body a {
  color: #2c3e50;
  text-decoration: underline;
}



.table tfoot tr {
  border-top: 2px double #ddd;
}

.action-button {
  right: -30px;
  top: 5px;
  position: absolute;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
